gwt-unitCache
/.gwt/.gwt-log
*.class
/war/WEB-INF/classes/*
/war/WEB-INF/deploy/*
/war/ipplan/*
/brandbook/Thumbs.db
tmp
bin

lib

/src/database/err.log

/*.war
/war-ipplan/WEB-INF/classes
/war-ipplan/WEB-INF/deploy
/war-main/WEB-INF/deploy
/war-main/WEB-INF/classes
/war-ipplan/ipplan
/war-ipplan/main
/war-main/main
