/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #004276;
  margin: 40px 0px 70px;
  text-align: center;
}


/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
	color: red;
	font-weight: normal;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-FormCaption {
  font-size: 2em;
  color: #004276;
  padding: 10px 10px 10px 10px;
}
.gwt-Form  {
    background-color: #FFFAFA;
    border-color: #BBBBBB #BBBBBB #A0A0A0;
    border-image: none;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: small;
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;
}
.lpad10 {
  padding-left:10px;
}
.rpad10 {
  padding-right:10px;
}

.bpad10 {
  padding-bottom:10px;
}

.tpad10 {
  padding-top:10px;
}

.pad0 {
  padding:0px !important;
}

.bold-text {
	font-weight: bold;
}
.messageToUser {
	color: maroon;
	margin: 5px;
	font-weight: bold;
	background-color: lemonchiffon;
}
.serverResponseSuccess {
	color: forestgreen;
	font-weight: bold;
}


.baloonPanel {
    background: linear-gradient(#F9D835, #F3961C) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    margin-bottom:15px;
    padding: 15px;
    position: relative;
    max-width:400px;
}

.baloonPanel:after {
    border-color: #F3961C transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.redBorder {
	border-top: 2px solid #cc0000;
}

.grayBorder {
	border-top: thin solid gray;
}

.tableBorderCollapse {
	border-collapse:collapse;
}

.link {
	border-bottom: 1px dashed #004276;
	text-decoration: none;	
}

.link:hover {
	border-color: #cc0000;
	color: #cc0000;
}

.linkcell div {
	border-bottom: 1px dashed #004276;
	text-decoration: none;	
	display: inline-block;
}

.linkcell:hover  div {
	border-color: #cc0000;
	color: #cc0000;
	display: inline-block;
}

.Attention1 {
	color: #339900 !important;;
}

.Attention2 {
	color: #FF9900 !important;;
}

.Attention3 {
	color: #CC0000 !important;
}

.gwt-FormSubCaption {
  font-size: 1.2em;
  font-weight: bold;
  color: #004276;
  padding: 10px 10px 10px 10px;
}

.FormBargain {
  left: 50%;
  margin-left: -300px;
  position: relative;
  width: 600px;
}

.gwt-CurrencyLabel {
	display:block;
	text-align: right;
	padding: 5px 4px;
	border: 1px solid #D8DCDF;
	border-radius: 6px;
	background-color: #FFFAFA;
}

.errorHint {
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    font-weight: normal;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.errorHint:before {
    border-color: red transparent;
    border-style: solid;
    border-width: 0 10px 11px;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -11px;
    width: 0; 
}

.errorHint:after {
    border-color: #FFFAFA transparent;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -10px;
    width: 0; 
}


.mainCommand {
    padding:10px  !important;
    font-weight: bold !important;
}

.gwt-CustomerBox {
    border:0px none;
}

.gwt-SuggestBox div {
    width:20px;
    height:20px;
    float: right;
}

.Customer-bind {
    font-weight: bold;
}

.Customer-bind+div {
    background: url("main/gwt/images/ui-icons_004276_256x240.png") no-repeat scroll -30px -191px transparent;
}

.Customer-add+div {
    background: url("main/gwt/images/ui-icons_004276_256x240.png") no-repeat scroll 5px -191px transparent;
}

.Customer-bind+div:hover {
    background: url("main/gwt/images/ui-icons_cc0000_256x240.png") no-repeat scroll -30px -191px transparent;
}

.Customer-add+div:hover {
    background: url("main/gwt/images/ui-icons_cc0000_256x240.png") no-repeat scroll 5px -191px transparent;
}

.gwt-StatusBox {
  padding: 5px 4px;
  border: 1px solid #D8DCDF;
  border-radius: 6px;
  background-color: white;
  outline: none; 
  display:inline-block;
}

.gwt-StatusBox:focus {
  border: 1px solid #939393;
  background-color: #f6f6f6;
}

.gwt-StatusBox-pause {
  min-width:20px;
  min-height:16px;
  background: url("main/gwt/images/ui-icons_004276_256x240.png") no-repeat scroll -224px -192px transparent;
  margin-right:10px;
}

.gwt-StatusBox-pause:hover {
  background: url("main/gwt/images/ui-icons_cc0000_256x240.png") no-repeat scroll -224px -192px transparent;
}

.gwt-StatusBox div {
  float:left;
}

.gwt-StatusBox-next {
  min-width:20px;
  min-height:16px;
  background: url("main/gwt/images/ui-icons_004276_256x240.png") no-repeat scroll -46px -192px transparent;
  margin-left:10px;
}

.gwt-StatusBox-next:hover {
  background: url("main/gwt/images/ui-icons_cc0000_256x240.png") no-repeat scroll -46px -192px transparent;
}

.gwt-StatusBox-lock div.gwt-StatusBox-next {
  display:none;
}

.gwt-StatusBox-lock {
  padding-right:10px;
}

.gwt-StatusBox-lock div.gwt-StatusBox-pause {
  background: url("main/gwt/images/ui-icons_004276_256x240.png") no-repeat scroll 4px -64px transparent;
}

.gwt-StatusBox-lock div.gwt-StatusBox-pause:hover {
  background: url("main/gwt/images/ui-icons_cc0000_256x240.png") no-repeat scroll 4px -64px transparent;
 }

.gwt-StatusBox-finish {
  padding-left:10px;
  padding-right:10px;
}

.gwt-StatusBox-finish div.gwt-StatusBox-next {
  display:none;
}

.gwt-StatusBox-finish div.gwt-StatusBox-pause {
  display:none;
}

.gwt-StatusBox-suspend {
  padding-left:10px;
}

.gwt-StatusBox-suspend div.gwt-StatusBox-pause {
  display:none;
}

.auto-width {
  display:inline-block;
}

.gwt-InplaceEditor {
  width:100%;
}
