/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #004276;
  margin: 40px 0px 70px;
  text-align: center;
}


#formContainer {
  display: inline-block;
  left: 50%;
  margin-left: -125px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
	color: red;
	font-weight: normal;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-FormCaption {
  font-size: 2em;
  color: #004276;
  padding: 10px 10px 10px 10px;
}
.gwt-Form  {
    background-color: #FFFAFA;
    border-color: #BBBBBB #BBBBBB #A0A0A0;
    border-image: none;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: small;
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;
}
.lpad10 {
  padding-left:10px;
}
.rpad10 {
  padding-right:10px;
}

.bpad10 {
  padding-bottom:10px;
}

.tpad10 {
  padding-top:10px;
}

.pad0 {
  padding:0px !important;
}

.bold-text {
	font-weight: bold;
}
.messageToUser {
	color: maroon;
	margin: 5px;
	font-weight: bold;
	background-color: lemonchiffon;
}
.serverResponseSuccess {
	color: forestgreen;
	font-weight: bold;
}


.baloonPanel {
    background: linear-gradient(#F9D835, #F3961C) repeat scroll 0 0 transparent;
    /* MSIE */
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9D835', endColorstr='#F3961C');

    border-radius: 10px 10px 10px 10px;
    color: #000000;
    margin-bottom:15px;
    padding: 15px;
    position: relative;
    max-width:400px;
}

.baloonPanel:after {
    border-color: #F3961C transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.redBorder {
	border-top: 2px solid #cc0000;
}

.grayBorder {
	border-top: thin solid gray;
}

.tableBorderCollapse {
	border-collapse:collapse;
}

.link {
	border-bottom: 1px dotted #004276;
	text-decoration: none;	
	cursor:pointer;
	display: inline-block;
}

.link:hover {
	border-color: #cc0000;
	color: #cc0000;
}

.linkcell div {
	border-bottom: 1px dotted #004276;
	text-decoration: none;	
	display: inline-block;
	cursor:pointer;
}

.linkcell:hover  div {
	border-color: #cc0000;
	color: #cc0000;
	display: inline-block;
}

.Attention1 {
	color: #339900 !important;;
}

.Attention2 {
	color: #FF9900 !important;;
}

.Attention3 {
	color: #CC0000 !important;
}

.gwt-FormSubCaption {
  font-size: 1.2em;
  font-weight: bold;
  color: #004276;
  padding: 10px 10px 10px 10px;
}

.FormBargain {
  background-color: #F8F8FF;
  border-radius: 6px;
  table-layout:fixed;
}

.main-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #004276;
}

.gwt-CurrencyLabel {
	display:block;
	text-align: right;
	padding: 5px 4px;
	border: 1px solid #D8DCDF;
	border-radius: 6px;
	background-color: #FFFAFA;
}

.errorHint {
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    font-weight: normal;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.errorHint:before {
    border-color: red transparent;
    border-style: solid;
    border-width: 0 10px 11px;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -11px;
    width: 0; 
}

/* hack Opera */
noindex:-o-prefocus,.errorHint:before {
    top: -12px;
}

.errorHint:after {
    border-color: #FFFAFA transparent;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -10px;
    width: 0; 
}

.errorBalloon {
    border: 1px solid red;
    background-color:white;
    border-radius: 10px;
    color: red;
    font-weight: normal;
    margin: 10px;
    padding: 10px;
    z-index:999;
    position:relative;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.errorBalloon:before {
    border-color: red transparent;
    border-style: solid;
    border-width: 14px 12px 0;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 10%;
    position: absolute;
    top: 100%;
    width: 0;
}

.errorBalloon:after {
    border-color: #FFFAFA transparent;
    border-style: solid;
    border-width: 13px 11px 0;
    bottom: 21px;
    content: "";
    display: block;
    height: 0;
    left: 10%;
    position: absolute;
    top: 100%;
    width: 0;
}

.mainCommand {
    padding:10px  !important;
    font-weight: bold !important;
    background: linear-gradient(#D80000, #880000) repeat scroll 0 0 transparent !important;
    /* MSIE */
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#D80000', endColorstr='#880000');

    color: whitesmoke !important;
}


.auto-width {
  display:inline-block;
}

.gwt-InplaceEditor {
  width:100% !important;
}

.logo {
  height: 40px;
  width: 250px;
}
.logo img {
  height:36px;
/*  margin-left: -403px; */
}

img#apploader {
  height: auto; 
  padding-left: 10px; 
  position: relative; 
  top: -10px;
}

.customer-info {
    width:300px;
    padding: 2px 2px 2px 0px;
    height: 61px;
}

.customer-info img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 5px;
    border: 1px solid silver;
}

.customer-info div{
    padding-top: 2px;
}

.statusbox {
    height:1em;
    border: 1px solid #939393;
    border-radius:2px;
}

.statusbox-in-grid {
   border: 1px solid #939393;
   border-radius: 2px;
   padding: 1px;
   margin-top: 4px;
   text-align: center;
   width: 128px;
}

.simplebox {
   height: 100%;
   width: 100%;
   background-color: #FFFFF0;
   border: 1px solid #939393;
   border-radius: 6px;
   padding: 10px;
}

.task-list-item {
}

.outofdate {
   color:silver;
}

.task-list-item div.start{
   width: 16px;
   height: 1em;
   background: url(../images/sprite-cc0000.png) no-repeat 0px 0px;
   float: left;
}

.executed div.name {
   text-decoration: line-through;
}

.task-list-item div.name {
   font-weight: bold;
   display:block;
}

.delete-icon {
   width: 1em;
   height: 1em;
   background:url(../images/sprite-004276.png) no-repeat -31px 0px;
   float: left;
   cursor: pointer;
}

.delete-icon:hover {
   background:url(../images/sprite-cc0000.png) no-repeat -31px 0px;
}

.timeline-item {
   width:135px;
   height:80px;
   margin-right: 5px;
   padding:5px;
   overflow: hidden;
}

.timeline-item:hover {
   color: #cc0000;
}

.timeline-item-selected {
   background-color: #FFFFF0;
   border: 1px solid #D8DCDF;
   border-radius: 6px;
}

.timeline-item .date {
  font-weight: bold;
}

.timeline-item .note {
  padding-top: 4px;
  font-size: 0.9em;
  overflow:hidden;
  height: 3.8em;
}

.timeline-item .statusbox-in-grid {
  position: absolute;
  bottom: 2px;
}


.timeline-scroll-left {
  background: url(../images/sprite-004276.png) no-repeat -140px 0px transparent;
  position: absolute;
  left:0px;
  width:20px;
  height:20px;
  z-index:888;
  top: 50%;
  margin-top: -10px;
}

.timeline-scroll-left:hover {
  background: url(../images/sprite-cc0000.png) no-repeat -140px 0px transparent;
}

.timeline-scroll-right {
  background: url(../images/sprite-004276.png) no-repeat -108px 0px transparent;
  position: absolute;
  right:0px;
  width:20px;
  height:20px;
  z-index:888;
  top: 50%;
  margin-top: -10px;
}

.timeline-scroll-right:hover {
  background: url(../images/sprite-cc0000.png) no-repeat -108px 0px transparent;
}

.boxing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.anl-status-legend {
  padding-top: 6px;
  border: 1px solid #939393;
  border-radius:2px;
  margin-top: 1px;
}