@CHARSET "UTF-8";


.cellTableCell {
	background:transparent;
	border:0;
}

.cellTableEvenRow {
	background:transparent;
}

.cellTableOddRow {
	background:transparent;
}

.cellTableHoveredRow {
	border:0;
}

.cellTableHoveredRowCell{
	border:0;
}

