<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.cantor.ipplan.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>com.cantor.ipplan.server.ProfileServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>ipplan/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>ipplan/profile</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Ipplan.html</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>com.cantor.ipplan.server.ContextEventHandler</listener-class>
  </listener>
  
</web-app>
